<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Namn</p>
      <p class="title">VPN Namn</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Pris</p>
      <p class="title">49kr/mån</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Installation</p>
      <p class="title">10 minuter</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Rank</p>
      <p class="title">1/100</p>
    </div>
  </div>
</nav>
<div class="columns">
  <div class="column">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="column is-three-quarters">
    <div class="content">
      <ul>
        <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
        <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
        <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
        <li>Ut non enim metus.</li>
      </ul>
      <a class="button">Button</a>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="content">
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</div>