---
title: Welcome to Middleman
---
<%= partial "partials/hero" %>
<section class="section">
  <div class="container">
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>Vpn namn</th>
        <th>Pengarna tillbaka dagar</th>
        <th>Andvändar betyg</th>
        <th>Vårat betyg</th>
        <th>Länk</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Namn</th>
        <td>Dagar</td>
        <td>Betyg</td>
        <td>Betyg</td>
        <td><a class="button">Länk</a></td>
      </tr>
      <tr>
        <th>Namn</th>
        <td>Dagar</td>
        <td>Betyg</td>
        <td>Betyg</td>
        <td><a class="button">Länk</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>